.locations {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  
  .location {
      flex-basis: 35%;
      margin: 1em;
      padding: 1em;
      border: 1px solid goldenrod;
      width: 50%;
  }

  .addButton {
    display: block;
    margin: auto;
  }

  .locationDetail {
    display: flex;
    flex-direction: column;
    margin: 4em auto;
    padding: 0 2em 2em;
    border: 1px solid goldenrod;
    text-align: center;
    width: 45%;
}

.location__info {
    margin: 0 auto 1em;
}

.detailButton {
    margin: 1.5em 1em 0 0;
}